<span [style]="{ position: 'fixed', top: 0, right: '40px' }">
    scrolled : {{ scrolled }}</span
>
<span [style]="{ position: 'fixed', top: '30px', right: '40px' }">
    total : {{ (stories$ | async).length }}</span
>

<cdk-virtual-scroll-viewport
    [itemSize]="152"
    (scrolledIndexChange)="onScroll($event)"
    [style]="{
        display: 'flex',
        flexFlow: 'column nowrap',
        justifyContent: 'center',
        alignItems: 'center',
        height: '100vh'
    }"
>
    <ng-container
        *cdkVirtualFor="let article of stories$ | async; let index = index"
    >
        <mat-card
            [style.height.px]="100"
            [style.width.px]="200"
            [style]="{ marginTop: '20px' }"
        >
            <mat-card-header
                [style]="{
                    overflow: 'hidden',
                    whiteSpace: 'nowrap',
                    textOverflow: 'ellipsis'
                }"
            >
                <mat-card-title>{{ article?.title }}</mat-card-title>
                <mat-card-subtitle
                    >{{ article?.by }} index: {{ index }}</mat-card-subtitle
                >
            </mat-card-header>
            <mat-card-content>
                <button mat-raised-button color="primary">
                    <a [href]="article.url" target="_blank">Go to article</a>
                </button>
            </mat-card-content>
        </mat-card>
    </ng-container>
</cdk-virtual-scroll-viewport>

<ng-template #loader>
    <mat-card
        [style.height.px]="100"
        [style.width.px]="200"
        [style]="{ marginTop: '20px' }"
    >
        <mat-spinner></mat-spinner> </mat-card
></ng-template>
